<div class="pure-u-1" ng-controller="eventsCreateCtrl">
	<fieldset>
		<legend>
		<h2>Create new event</h2></legend>
		<span>Fill out the form</span>
	</fieldset>
	<form name="form" class="pure-form" novalidate>
		<div class="pure-g disp-table">
			<div class="pure-u-1-2 pure-u-l-1-4 outside">
				<p>Type</p>
			</div>
			<div class="pure-u-1-2 pure-u-l-1-4 outside">
				<select class="pure-u-22-24 center-text"
					ng-init="event.eventType = event.eventType || 'co'"
					name="eventType"
					ng-model="event.eventType">
					<option value="co">CO</option>
					<option value="tvt">TvT</option>
				</select>
			</div>
		</div>
		<div class="pure-g disp-table">
			<div class="pure-u-1-2 pure-u-l-1-4 outside">
				<p>Amout of slots:</p>
			</div>
			<div class="pure-u-1-2 pure-u-l-1-4 outside">
				<input type="number"
				class="pure-u-22-24 center-text"
				title="2-99"
				placeholder="99"
				name="amountSlots"
				ng-required="true"
				ng-model="event.amountSlots"
				ng-min='2'
				ng-pattern="/^[1-9][0-9]?$/"
				ng-class="{'error': form.amountSlots.$dirty && form.name.$invalid,
				'valid': form.amountSlots.$dirty && form.amountSlots.$valid}"
				/>
			</div>
		</div>
		<div class="pure-g disp-table">
			<div class="pure-u-1-2 pure-u-l-1-4 outside">
				<p>Event name</p>
			</div>
			<div class="pure-u-1-2 pure-u-l-1-4 outside">
				<input type="text"
				class="pure-u-22-24"
				placeholder="Op. Megadeath"
				name="name"
				ng-model="event.name"
				ng-required="true"
				ng-minlength="3"
				ng-maxlength="56"
				ng-pattern="/[A-Z]{3}/i"
				ng-class="{'error': form.name.$dirty && form.name.$invalid,
				'valid': form.name.$dirty && form.name.$valid}"/>
			</div>
		</div>
		<div class="pure-g disp-table">
			<div class="pure-u-1-2 outside">
				<p>Event image</p>
			</div>
			<div class="pure-u-1-2 outside" ng-show="!imageChoice">
				<button
				class="pure-button pure-button-primary"
				ng-click="imageChoice = 'url'">
				URL
				</button>
				<button
				class="pure-button pure-button-primary"
				ng-click="imageChoice = 'upload'">
				Upload
				</button>
			</div>
			<div class="pure-u-1" ng-show="imageChoice == 'url'">
				<input type="url"
				class="pure-u-22-24"
				placeholder="http://domain"/>
				<div style="padding-top: 0.2em">
					<button
					type="button"
					class="pure-button"
					ng-click="imageChoice = ''">
					Abort
					</button>
				</div>
			</div>
			<div class="pure-u-1" ng-show="imageChoice == 'upload'">
				<div
					title=".jpg,.png,.bmp,.gif"
					ng-file-drop
					ng-file-select
					ng-model="imageFile"
					class="pure-u-22-24 drop-box"
					drag-over-class="{accept: 'dragover', reject: 'dragover-err', delay:10}"
					ng-multiple="false"
					allow-dir="false"
					accept=".jpg,.png,.bmp,.gif">
					<span>{{imageFile[0].name || 'Drop image or Click'}}</span>
				</div>
				<div class="pure-u-1" style="padding-top: 0.2em;">
					<button type="button" class="pure-button"
					ng-click="imageChoice = ''">Abort</button>
					<button type="button"
					class="pure-button pure-button-primary"
					ng-class="{'pure-button-disabled': !imageFile}"
					>Upload</button>
				</div>
				<p ng-no-file-drop class="pure-u-1">File Drag/Drop is not supported for this browser</p>
			</div>
		</div>
		
		<div class="pure-g disp-table" style="padding-top: 1em">
			<textarea
			class="pure-u-23-24"
			style="resize: vertical"
			placeholder="Event description"
			name="description"
			ng-model="event.description"
			ng-pattern="/[A-Z]{4}/i"
			ng-maxlength="8000"
			ng-class="{'error': form.description.$invalid,
			'valid': event.description.length && form.description.$valid}">
			</textarea>
		</div>
		<div class="pure-u-1" style="padding-top: 2em">
			<h2>Groups and roles</h2>
		</div>
		<div ng-show="!anySideHaveGroups()" class="pure-g disp-table">
			<div class="pure-u-1 outside">
				<div ng-show="!selectSQM">
					<button
					type="button"
					class="pure-button pure-button-primary"
					ng-click="selectSQM = true">
					Upload SQM file
					</button>
					<button type="button"
					class="pure-button pure-button-primary"
					ng-click="addGroupToSide('blufor')"
					>Enter manually
					</button>
				</div>
				<div ng-show="selectSQM">
					<div
						title=".sqm"
						class="pure-u-23-24 drop-box"
						style="margin-top: 1em"
						ng-file-drop
						ng-file-select
						ng-model="sqmFile"
						drag-over-class="{accept: 'dragover', reject: 'dragover-err', delay:10}"
						ng-multiple="false"
						allow-dir="false"
						accept=".sqm">
						<span>{{sqmFile[0].name || 'Drop SQM or Click'}}</span>
						<p ng-no-file-drop class="pure-u-1">File Drag/Drop is not supported for this browser</p>
					</div>
					<div style="padding-top: 0.2em">
						<button
						type="button"
						class="pure-button"
						ng-click="selectSQM = false">
						Abort
						</button>
						<button
						type="button"
						class="pure-button pure-button-primary"
						ng-click="">
						Upload
						</button>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="anySideHaveGroups()">
			<div class="pure-g">
				<div class="pure-u-1">
					<p>Playable sides in the event</p>
				</div>
				<span
					class="pure-u-1-4 pure-u-md-4-24"
					ng-repeat="side in selectableSides">
					<input type="checkbox"
					ng-checked="sideHaveGroups(side)"
					ng-click="addOrClearGroupsFromSide(side, $event)"
					/> {{side | capitalize}}
				</span>
			</div>
			<div
				class="pure-g"
				ng-repeat="side in selectableSides"
				ng-if="sideHaveGroups(side)">
				<div class="pure-u-1">
					<h4>{{side | capitalize}} groups
					<button type="button" style="margin-left: 1em;"
					class="pure-button pure-button-primary btn-sm"
					ng-click="addGroupToSide(side)">
					Add group
					</button>
					</h4>
				</div>
				<div
					class="pure-u-1-2 pure-u-sm-1-3 pure-u-lg-1-4"
					style="padding: 0.2em;"
					ng-repeat="group in getGroupsFromSide(side)">
					<input type="text"
					class="pure-u-1"
					value="{{group.name}}"
					placeholder="Group {{$index+1}}"
					/>
					<div class="pure-u-1"
						style="padding-top:0.1em;">
						<div class="f-left">
							<button class="pure-button btn-sm">
							<i class="fa fa-plus-circle fa-lg"></i>
							</button>
							
							<button class="pure-button btn-sm">
							<i class="fa fa-minus-circle fa-lg"></i>
							</button>
						</div>
						<div class="f-right">
							<button class="pure-button btn-sm">
							<i class="fa fa-times-circle fa-lg"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>