<a id="menuLink" class="menu-link" ng-click="toggleMobileMenu()" ng-class="{'active': mobileMenuActive}">
	<!-- Hamburger icon -->
	<span></span>
</a>
<div id="menu" ng-class="{'active': mobileMenuActive}">
	<div class="pure-menu">
		<a class="pure-menu-heading" href="#">FPARMA</a>
		<ul class="pure-menu-list menu-list">
			<li class="pure-menu-item"
				ng-repeat="link in links"
				ng-class="{'pure-menu-selected': isActive(link.url), 'menu-item-divided': link.divider}">
				<a class="pure-menu-link" 
					blur-after-click ng-click="toggleMobileMenu(true)"
					href="{{link.url}}">
					{{link.url | capitalize}}
				</a>
			</li>
		</ul>
	</div>
	<div>
		<div ng-if="!steamName">
		<a  href="/auth/steam" target="_self">
			<img class="mt-2 pure-img-responsive" src="img/steam_logo.png">
		</a>
		</div>
		<div ng-if="steamName" style="margin-left: 1em">
			<p style="color: black"><i class="fa fa-user"></i> {{steamName}}</p>

			<a href="/logout" target="_self"><button type="button" class="pure-button pure-button-primary btn-sm">Logout</button></a>
		</div>
	</div>
</div>