


@import 'menu.styl';

body
  height: 100%
  width: 100%
  color: #777
  background-color: #2e2e2e
  
/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Roboto', sans-serif;
}
  
h1, h2, h3, h4, h5, h6, p, span
  color: white

.pure-button
  span, p
    color: black
  
.pure-img-responsive
  max-width: 100%
  height: auto
  
.pure-g > div
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  
.l-box
  padding: 1em
  
.sm-box
  padding: 0.4em

.xs-box 
  padding: 0.2em
  
.f-left
  float: left

.f-right
  float: right

/*
Add transition to containers so they can push in and out.
*/
#layout, #menu, .menu-link
  -webkit-transition: all 0.2s ease-out
  -moz-transition: all 0.2s ease-out
  -ms-transition: all 0.2s ease-out
  -o-transition: all 0.2s ease-out
  transition: all 0.2s ease-out
/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout
  position: relative
  padding-left: 0
#layout.active
  position: relative
  left: 150px
#layout.active #menu
  left: 150px
  width: 150px
#layout.active .menu-link
  left: 150px

/*
The content `<div>` is where all your content goes.
*/
.content
  margin: 0 auto
  padding: 0 1em
  max-width: 800px
  margin-bottom: 50px
  line-height: 1.6em
.header
  margin: 0
  text-align: center
  padding: 2.5em 2em 0
  border-bottom: 1px solid #eee
  color: white
.header h1
  margin: 0.2em 0
  font-size: 3em
  font-weight: 300
.header h2
  font-weight: 300
  padding: 0
  margin-top: 0
.content-subhead
  margin: 50px 0 20px 0
  font-weight: 500
  color: white

.center-text
  text-align: center
.loading-img
  margin-top: 2em
  
form
  .error
    border: 2px solid red !important
  .valid
    border: 2px solid lightgreen !important

p.err
  color: red
    
.event-form
  .input-date
    padding-right: 0.4em
  .input-time
    padding-left: 0.4em
  .input-event-type
    padding-bottom: 0.4em
  .grp-btn-fix
    margin-right: 0.4em
  .grp-btn-selected
    background: rgb(28, 184, 65)
  .group-container
    padding: 0.4em
    
textarea
  .event-desc
    resize: vertical
    height: 5em
    
.drop-box 
  background: #F8F8F8
  border: 0.2em dashed #DDD
  box-sizing:border-box
  -moz-box-sizing:border-box
  -webkit-box-sizing:border-box
  text-align: center
  height: 4em

.drop-box
  span
    color: black
    
.drop-box.dragover
  border: 5px dashed blue

.drop-box.dragover-err
  border: 5px dashed red

.btn-xs
  font-size: 70%;

.btn-sm
  font-size: 85%

.btn-lg
  font-size: 110%

.btn-xl
  font-size: 125%
  
.mt-2
  margin-top: 2em;
  
.fa-inside-text
  float: right
  position: relative
  z-index: 2
  margin-top: -1.8em
  margin-right: 0.1em
  color: grey
  &:hover
    color: black
    cursor: pointer
  &.has-name
    color: green
    
.event-grp-box
  margin-bottom: 0.6em
  p.grp-name
    margin-top: 0
    margin-bottom: 0.2em
    padding-left: 3.2px
    
.unit-container 
  margin: 0.2em

.btn-signup
  width: 16px
  height: 16px
  color: white
  background-color: #449d44
  border: 1px solid #398439
  padding-left: 0.2em
  padding-right: 0.2em
  padding-bottom: 0.1em
  padding-top: 0.2em
  &.taken:hover
    cursor: not-allowed
  &:hover:not(.taken)
    cursor: pointer
    background-color: #398439
    border: 1px solid #449d44
  &.kick
    background-color: #d9543f
    border: 1px solid #d43f3a
    &:hover
      background-color: #d43f3a
      border: 1px solid #d9543f

.event-list
  width: 100%

.event-desc
  margin-top: 0;
  font-size: 80%

.white-border
  border: 1px solid white

/* -- Responsive Styles (Media Queries) ------------------------------------- */
/*
Hides the menu at `48em`
*/
@media (min-width: 48em)
  .header, .content
    padding-left: 2em
    padding-right: 2em
  #layout
    padding-left: 150px
    left: 0
  #menu
    left: 150px
  .menu-link
    position: fixed
    left: 150px
    display: none
  #layout.active .menu-link
    left: 150px
    
@media screen and (max-width: 480px)
  .fa-inside-text
    margin-top: -2em


