<h1 class="header">Upcoming events</h1>
<img-loading ng-if="!events"></img-loading>


<p><a class="pure-button" href="/events/create">Create event</a></p>
<p ng-if="error">{{error}}</p>

<p ng-if="!(events | filter: {passed: 'false'}).length">No upcoming events!</p>
<table class="mt-2 pure-table pure-table-bordered event-list"
	ng-if="(events | filter: {passed: 'false'}).length">
    <thead>
        <tr>
            <th>Event</th>
            <th>Date</th>
            <th>Name</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="event in events | filter:{passed: 'false'}">
            <td>
	            <a class="pure-button"
				href="/events/event/{{event.permalink}}">
					<span><i class="fa fa-lg fa-caret-square-o-right"></i></span>
				</a>
			</td>
            <td>
            	<span>{{event.date | dateLocalize | date:'d MMMM yyyy. HH:mm'}}</span>
        	</td>
            <td>
            	<span>{{event.eventType}} {{event.amountSlots}} - {{event.name}}</span>
        	</td>
        </tr>
    </tbody>
</table>

<h2 class="header">Previous events</h2>
<p ng-if="!(events | filter: {passed: 'true'}).length">No previous events!</p>
<table class="mt-2 pure-table pure-table-bordered event-list" ng-if="(events | filter: {passed: 'true'}).length">
    <thead>
        <tr>
            <th>Event</th>
            <th>Date</th>
            <th>Name</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="event in events | filter:{passed: 'true'}">
            <td>
                <a class="pure-button"
                href="/events/event/{{event.permalink}}">
                    <span><i class="fa fa-lg fa-caret-square-o-right"></i></span>
                </a>
            </td>
            <td>
                <span>{{event.date | dateLocalize | date:'d MMMM yyyy. HH:mm'}}</span>
            </td>
            <td>
                <span>{{event.eventType}} {{event.amountSlots}} - {{event.name}}</span>
            </td>
        </tr>
    </tbody>
</table>